// Padding for the popups.
.pt-popover-content {
  padding: 1rem;
}

// Arrow is slightly off by default in the popup menu.
.pt-tether-element-attached-left.pt-tether-target-attached-right>.pt-popover>.pt-popover-arrow {
  left: -1rem;
}

// As of right now, all the menus appear from floated icons in the widgets.
.widget-header {
  .pt-popover-target {
    float: right;
  }
}

.device-widget {
  .pt-popover-target {
    width: 100%;
  }
  .pt-icon-standard {
    float: right;
    margin-top: 0.7rem;
  }
  .pt-button {
    text-align: left;
    width: 100%;
    span {
      font-weight: normal;
      text-transform: none;
      font-size: 1.2rem;
    }
  }
}